openapi: 3.1.0
info:
  title: Vehicle Tracker API
  version: 1.0.0
  description: Token-protected API for saving transit vehicle observations and checking vehicle history from automation shortcuts.
servers:
  - url: https://rapid-signal-1f4a040df6.lakebed.app
    description: Lakebed production app
paths:
  /api/entries:
    post:
      operationId: saveTripEntry
      summary: Save a trip entry
      description: "Saves or updates a transit vehicle observation. Provide `clientEntryId` for idempotent retries."
      security:
        - ShortcutToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SaveEntryRequest"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/SaveEntryRequest"
      responses:
        "200":
          description: Existing entry updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SaveEntryResponse"
        "201":
          description: New entry created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SaveEntryResponse"
        "400":
          description: Invalid request data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing or invalid shortcut token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: "Server setup missing `SHORTCUT_TOKEN` or `ALLOWED_USER_ID`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/shortcut/save:
    get:
      operationId: saveTripEntryFromQuery
      summary: Save a trip entry from query parameters
      description: "Convenience endpoint for URL-based automation shortcuts. Prefer bearer auth over the `token` query parameter when the shortcut client supports headers."
      parameters:
        - $ref: "#/components/parameters/TokenQuery"
        - $ref: "#/components/parameters/ClientEntryIdQuery"
        - $ref: "#/components/parameters/VehicleNumberQuery"
        - $ref: "#/components/parameters/LatitudeQuery"
        - $ref: "#/components/parameters/LongitudeQuery"
        - $ref: "#/components/parameters/LineQuery"
        - $ref: "#/components/parameters/LegQuery"
        - $ref: "#/components/parameters/DirectionQuery"
        - $ref: "#/components/parameters/CustomDirectionQuery"
        - $ref: "#/components/parameters/ObservationTypeQuery"
        - $ref: "#/components/parameters/CapturedAtQuery"
      security:
        - ShortcutToken: []
        - TokenQuery: []
      responses:
        "200":
          description: Existing entry updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SaveEntryResponse"
        "201":
          description: New entry created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SaveEntryResponse"
        "400":
          description: Invalid request data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing or invalid shortcut token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: "Server setup missing `SHORTCUT_TOKEN` or `ALLOWED_USER_ID`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      operationId: saveTripEntryShortcut
      summary: Save a trip entry from a shortcut
      description: "Alias for `/api/entries` with the same request and response behavior."
      security:
        - ShortcutToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SaveEntryRequest"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/SaveEntryRequest"
      responses:
        "200":
          description: Existing entry updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SaveEntryResponse"
        "201":
          description: New entry created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SaveEntryResponse"
        "400":
          description: Invalid request data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing or invalid shortcut token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: "Server setup missing `SHORTCUT_TOKEN` or `ALLOWED_USER_ID`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/shortcut/lookup:
    get:
      operationId: lookupVehicleHistoryFromQuery
      summary: Look up vehicle history from query parameters
      description: Returns every saved observation for a vehicle as compact menu labels, detail text, and ridden/spotted/total counts.
      parameters:
        - $ref: "#/components/parameters/TokenQuery"
        - $ref: "#/components/parameters/VehicleNumberQuery"
      security:
        - ShortcutToken: []
        - TokenQuery: []
      responses:
        "200":
          description: Vehicle history lookup completed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LookupEntryResponse"
        "400":
          description: Invalid vehicle number.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing or invalid shortcut token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: "Server setup missing `SHORTCUT_TOKEN` or `ALLOWED_USER_ID`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      operationId: lookupVehicleHistory
      summary: Look up vehicle history
      description: Returns every saved observation for a vehicle as compact menu labels, detail text, and ridden/spotted/total counts.
      security:
        - ShortcutToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LookupEntryRequest"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/LookupEntryRequest"
      responses:
        "200":
          description: Vehicle history lookup completed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LookupEntryResponse"
        "400":
          description: Invalid vehicle number.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing or invalid shortcut token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: "Server setup missing `SHORTCUT_TOKEN` or `ALLOWED_USER_ID`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/shortcut/stops:
    post:
      operationId: findNearestStops
      summary: Find the five nearest transit stops
      description: Returns up to five unique nearest stop names followed by an Other option for Shortcut input.
      security:
        - ShortcutToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NearestStopsRequest"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/NearestStopsRequest"
      responses:
        "200":
          description: Nearest active uploaded transit stops, with the bundled stop index as fallback, followed by Other.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NearestStopsResponse"
        "400":
          description: Invalid or missing coordinates.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing or invalid shortcut token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: "Server setup missing `SHORTCUT_TOKEN`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
components:
  securitySchemes:
    ShortcutToken:
      type: http
      scheme: bearer
      bearerFormat: shortcut-token
      description: "Value of the server-side `SHORTCUT_TOKEN` environment variable."
    TokenQuery:
      type: apiKey
      in: query
      name: token
      description: Query-token fallback for clients that cannot set headers.
  parameters:
    TokenQuery:
      name: token
      in: query
      required: false
      schema:
        type: string
      description: "Shortcut token fallback. Prefer `Authorization: Bearer ...`."
    ClientEntryIdQuery:
      name: clientEntryId
      in: query
      required: false
      schema:
        type: string
        maxLength: 80
      description: Optional idempotency key. If omitted, the server creates one.
    VehicleNumberQuery:
      name: vehicleNumber
      in: query
      required: true
      schema:
        type: string
        pattern: "^\\d{3,4}$"
      description: "Transit vehicle number. Aliases accepted by the server include `vehicle` and `number`."
    LatitudeQuery:
      name: lat
      in: query
      required: false
      schema:
        type: number
        minimum: -90
        maximum: 90
      description: "Capture latitude. Alias accepted by the server: `latitude`."
    LongitudeQuery:
      name: lon
      in: query
      required: false
      schema:
        type: number
        minimum: -180
        maximum: 180
      description: "Capture longitude. Aliases accepted by the server include `lng` and `longitude`."
    LineQuery:
      name: line
      in: query
      required: false
      schema:
        $ref: "#/components/schemas/Line"
      description: Saved line override.
    LegQuery:
      name: leg
      in: query
      required: false
      schema:
        $ref: "#/components/schemas/LegInput"
      description: "Legacy saved direction override. Prefer `direction`."
    DirectionQuery:
      name: direction
      in: query
      required: false
      schema:
        $ref: "#/components/schemas/DirectionInput"
      description: "Saved direction/headsign override. Use `auto` for the server-detected direction."
    CustomDirectionQuery:
      name: customDirection
      in: query
      required: false
      schema:
        $ref: "#/components/schemas/Direction"
      description: "Free-text direction override. Takes precedence when non-empty."
    ObservationTypeQuery:
      name: type
      in: query
      required: false
      schema:
        $ref: "#/components/schemas/ObservationType"
      description: "Observation type. Alias accepted by the server: `observationType`."
    CapturedAtQuery:
      name: capturedAt
      in: query
      required: false
      schema:
        type: string
        format: date-time
      description: Capture time. Defaults to the server's current time.
  schemas:
    SaveEntryRequest:
      type: object
      additionalProperties: true
      required:
        - vehicleNumber
      properties:
        clientEntryId:
          type: string
          maxLength: 80
          description: Idempotency key for retries. If omitted, the server creates one.
        vehicleNumber:
          type: string
          pattern: "^\\d{3,4}$"
          description: Transit vehicle number as 3 or 4 digits.
        vehicle:
          type: string
          pattern: "^\\d{3,4}$"
          description: "Alias for `vehicleNumber`."
        number:
          type: string
          pattern: "^\\d{3,4}$"
          description: "Alias for `vehicleNumber`."
        lat:
          type: number
          minimum: -90
          maximum: 90
        latitude:
          type: number
          minimum: -90
          maximum: 90
          description: "Alias for `lat`."
        lon:
          type: number
          minimum: -180
          maximum: 180
        lng:
          type: number
          minimum: -180
          maximum: 180
          description: "Alias for `lon`."
        longitude:
          type: number
          minimum: -180
          maximum: 180
          description: "Alias for `lon`."
        capturedAt:
          type: string
          format: date-time
          description: Capture time. Defaults to server time when missing or invalid.
        savedAt:
          type: string
          format: date-time
          description: "Save time. Defaults to `capturedAt`."
        line:
          $ref: "#/components/schemas/Line"
        savedLine:
          $ref: "#/components/schemas/Line"
        inferredLine:
          $ref: "#/components/schemas/Line"
        leg:
          $ref: "#/components/schemas/LegInput"
          deprecated: true
        direction:
          $ref: "#/components/schemas/DirectionInput"
        customDirection:
          $ref: "#/components/schemas/Direction"
        savedLeg:
          $ref: "#/components/schemas/DirectionInput"
        inferredLeg:
          $ref: "#/components/schemas/Direction"
        type:
          $ref: "#/components/schemas/ObservationType"
        observationType:
          $ref: "#/components/schemas/ObservationType"
        locationStatus:
          type: string
          maxLength: 48
        classificationStatus:
          $ref: "#/components/schemas/ClassificationStatus"
        routeGroup:
          type: string
          maxLength: 48
        distanceMeters:
          type: string
          maxLength: 24
        nearestStopName:
          type: string
          maxLength: 120
          description: Optional manual place or result of an explicit nearest-stop lookup. The server does not derive it automatically.
    SaveEntryResponse:
      type: object
      required:
        - ok
        - id
        - clientEntryId
        - vehicleNumber
        - observationType
        - capturedAt
        - savedAt
        - savedLeg
        - savedLine
        - classificationStatus
        - routeGroup
        - distanceMeters
        - nearestStopName
        - lat
        - lon
      properties:
        ok:
          type: boolean
          const: true
        id:
          type: string
          description: Lakebed row id.
        clientEntryId:
          type: string
        vehicleNumber:
          type: string
        observationType:
          $ref: "#/components/schemas/ObservationType"
        capturedAt:
          type: string
          format: date-time
        savedAt:
          type: string
          format: date-time
        savedLeg:
          $ref: "#/components/schemas/Direction"
        savedLine:
          $ref: "#/components/schemas/Line"
        classificationStatus:
          $ref: "#/components/schemas/ClassificationStatus"
        routeGroup:
          type: string
          examples:
            - home_14_18
            - school_12_17
            - none
        distanceMeters:
          type: string
          description: Distance to matched corridor or nearest configured point, if available.
        nearestStopName:
          type: string
        lat:
          type: string
          description: Stored rounded latitude, or empty string when unavailable.
        lon:
          type: string
          description: Stored rounded longitude, or empty string when unavailable.
        message:
          type: string
          description: Previous vehicle history message, including prior date, time, line, and direction when available.
    LookupEntryRequest:
      type: object
      additionalProperties: true
      required:
        - vehicleNumber
      properties:
        vehicleNumber:
          type: string
          pattern: "^\\d{3,4}$"
          description: Transit vehicle number as 3 or 4 digits.
        vehicle:
          type: string
          pattern: "^\\d{3,4}$"
          description: "Alias for `vehicleNumber`."
        number:
          type: string
          pattern: "^\\d{3,4}$"
          description: "Alias for `vehicleNumber`."
    LookupEntryResponse:
      type: object
      required:
        - ok
        - vehicleNumber
        - message
        - summary
        - entries
        - details
      properties:
        ok:
          type: boolean
          const: true
        vehicleNumber:
          type: string
          pattern: "^\\d{3,4}$"
        message:
          type: string
          description: Latest Been on before or Seen before message. Retained for older Shortcut versions.
        summary:
          type: string
          pattern: "^R:\\d+ \\| S:\\d+ \\| T:\\d+$"
          description: Counts of ridden, spotted, and total observations.
        entries:
          type: array
          items:
            type: string
          description: Newest-first menu labels containing Zurich date, time, and observation type. Same-minute duplicates receive a numeric suffix.
        details:
          type: object
          additionalProperties:
            type: string
          description: Detail text keyed by the corresponding value in entries.
    NearestStopsRequest:
      type: object
      additionalProperties: true
      required:
        - lat
        - lon
      properties:
        lat:
          type: number
          minimum: -90
          maximum: 90
        lon:
          type: number
          minimum: -180
          maximum: 180
    NearestStopsResponse:
      type: object
      required:
        - ok
        - stops
        - dataAvailable
      properties:
        ok:
          type: boolean
          const: true
        stops:
          type: array
          minItems: 1
          maxItems: 6
          items:
            type: string
          description: Up to five nearest unique stop names followed by Other.
        dataAvailable:
          type: boolean
          description: False when only the manual Other option could be returned.
    ErrorResponse:
      type: object
      required:
        - ok
        - reason
      properties:
        ok:
          type: boolean
          const: false
        reason:
          type: string
          enum:
            - unauthorized
            - shortcut_token_missing
            - allowed_user_id_missing
            - invalid_vehicle_number
            - missing_client_entry_id
            - missing_owner
    Leg:
      type: string
      enum:
        - unclassified
        - from_home
        - to_school
        - from_school
        - to_home
      description: "`unclassified` is shown as No leg in the app."
    LegInput:
      type: string
      enum:
        - auto
        - unclassified
        - from_home
        - to_school
        - from_school
        - to_home
      description: "`auto` asks the server to save its detected leg. `unclassified` explicitly saves No leg."
    Direction:
      type: string
      maxLength: 80
      examples:
        - Bernex, Vailly
        - Meyrin, Gravière
        - Grand-Lancy, Palettes
        - Meyrin, CERN
        - unclassified
      description: "Saved direction/headsign. Legacy leg values are migrated to line-specific headsigns."
    DirectionInput:
      oneOf:
        - $ref: "#/components/schemas/Direction"
        - type: string
          enum:
            - auto
            - from_home
            - to_school
            - from_school
            - to_home
      description: "`auto` saves the server-detected direction. Legacy leg values are still accepted."
    Line:
      type: string
      pattern: "^(unclassified|[A-Z0-9+]{1,8})$"
      examples:
        - "12"
        - "14"
        - "17"
        - "18"
        - unclassified
    ObservationType:
      type: string
      enum:
        - been_on
        - seen
    ClassificationStatus:
      type: string
      enum:
        - matched
        - ambiguous
        - no_location
        - outside_geneva
        - outside_route
        - unclassified
